.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2016/03/streetfighter-1024x576.jpg');
  background-size: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}
